.intro-text {
 margin-inline: auto;
 max-width: fit-content;
}

img {
 display: block;
 max-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 12px;
}

body {
  background-color: HotPink;
  font-size: 1rem;
}

@media (max-width: 800px) {
  body {
    background-color: Indigo;  
 }

p {
  color: black;
}

nav ul {

 list-style-type: none;
 margin: 0;
 padding: 0;
 display: inline;
 margin-right: 15px;
 text-decoration: none;
 color: #000000;
 font-weight: bold;
}
