// START RESPONSIVE DESIGN

.intro-text {
 margin-inline: auto;
 max-width: fit-content;
}

.container {
 background: #6495ED;
 display: flex;
 flex-wrap: wrap;
 width: 10px;
 padding: 10px;
}

.box {
 border: 2px cyan;
 border-radius: 1rem;
}

img {
 display: block;
 max-width: 100%;
}

// END RESPONSIVE DESIGN

// START MEDIA QUERY

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 12px;
}

body {
  background-color: DarkBlue;
  font-size: 1rem;
}

@media (max-width: 800px) {
  body {
    background-color: Indigo;  
 }
}

@media (min-width: 600px) and (max-width: 900px) {
  body {
    background-color: HotPink;
  }

p {
  color: Lavender;
 }
}

// END MEDIA QUERY
