.intro-text {
 margin-inline: auto;
 max-width: fit-content;
}

img {
 display: block;
 max-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 12px;
}

body {
  background-color: HotPink;
  font-size: 1rem;
}

@media (max-width: 800px) {
  body {
    background-color: HotPink;  
 }

p {
  color: black;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F0FFFF;
    display: flex;
    border: 1px solid #000000;
    position: sticky;
    top: 0;
}

.ul li a {
    background-color: #00FFFF;
}
