.intro-text {
 margin-inline: auto;
 max-width: fit-content;
}

img {
 display: block;
 max-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 12px;
}

body {
  background-color: HotPink;
  font-size: 1rem;
}

@media (max-width: 800px) {
  body {
    background-color: HotPink;  
 }

p {
  color: black;
}

.navbar {

  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
   margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}
