.intro-text {
 margin-inline: auto;
 max-width: fit-content;
}

img {
 display: block;
 width: 100px;
 height: 100px;
}

html {
  font-size: 12px;
}

body {
  background-color: pink;
  font-size: 1rem;
}

@media (min-width: 100px) {
  body {
    background-color: white;  
 }
}

p {
  color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff00;
}

ul li {
 float: left;
}

ul li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

ul li a:hover {
    background-color: #00FFFF;
}
